body {background-color: #f0f0f0;}
.lazy {background: url(//www.quimg.com/a4535/img/common/loading.gif) center center no-repeat;}
.banner {width: 1200px; margin: 0 auto;}
.banner-content {position: relative; padding: 20px; background-color: #fff; border: 1px solid #d8d8d8; border-radius: 2px; -webkit-border-radius: 2px;}
.banner-content-inner {}
.main-title {font-size: 22px; color: #333; font-weight: bold;}
.detail-info {margin: 14px 0 20px; color: #555; font-size: 14px;}
.product-code {display: inline-block; color: #848484; margin-right: 20px;vertical-align: top;}
.subtitle {display: inline-block; width: 970px; overflow: hidden; white-space: nowrap; text-overflow:ellipsis; vertical-align: top}
.banner-img-viewer {width: 600px;float: left;}
.img-wrapper {position: relative;height: 360px;}
.wq-chupin {width: 91px;height: 102px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) 0 0 no-repeat; position: absolute;top: 0; left: 30px;text-align: center;}
.wq-chupin span {display: inline-block;width: 50px; font-size: 20px; font-weight: bold; width: 50px; color: #fff;margin-top: 32px;}
.viewer-big-img {display: block;}
.img-description {font-size: 14px; color: #fff;width: 594px; height: 35px;line-height: 35px;padding-left: 6px; position: absolute;left: 0; bottom: 0; background-color: rgba(0,0,0,0.5);}
.s-img-wrapper {width: 600px; margin: 14px auto 0;position: relative;}
.img-page {float: right;margin-right: 10px;}
.s-img-inner {overflow: hidden; position: relative;height: 82px; width: 540px; margin: 0 auto;}
.s-img-list {position: absolute;left: 0;top: 0;}
.s-img-list li{border: 2px solid transparent; float: left;margin-right: 4px;font-size: 0;cursor: pointer;}
.s-img-list .on {border-color:#00bb66;}
.viewer-btn {position: absolute;top: 2px;width: 24px;height: 77px;z-index: 9;cursor: pointer;}
.viewer-prev {left: 0px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) -209px 0 no-repeat;}
.viewer-prev:hover {background-position: -209px -87px;}
.viewer-next {right: 0px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) -239px 0 no-repeat;}
.viewer-next:hover {background-position: -239px -87px;}
.banner-right {width: 520px;float: right;position: relative; font-size: 14px;}
.banner-right-top {background-color: #fdf4e5; padding: 16px 30px 10px 10px;position: relative;}
.price {font-size: 16px; color: #f08300; margin-right: 16px;}
.price span {font-size: 26px;}
.price-lt {color: #555; font-size: 18px; text-decoration: line-through;}
.price-tips {color: #05b47b; border-bottom:1px dashed #05b47b; margin-left: 10px;}
.start-order {float: right;}
.favour {color: #333333;margin-top: 8px;}
.favour span{display: inline-block;padding:2px 8px 3px; font-size: 12px; color: #fff;margin-right: 5px;}
.price-p1{background-color: #19c0c0;}
.price-p2{background-color: #45a4e5;}
.price-p3{background-color: #9890e5;}
.bulb-icon {width: 14px;height: 15px; display: inline-block;background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat 0 -251px; margin-right: 5px;}
.air-ticket {color: #333;margin-top: 8px;}
.air-ticket .contact-cs {text-decoration: underline;cursor: pointer;}
.city-info {color: #333; margin: 10px 0; color: #848484;}
.city-info i {display: inline-block; width: 20px; height: 20px; vertical-align: -4px; margin-right: 5px;}
.startloc-icon {background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -115px -129px;}
.endloc-icon {background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -147px -129px; margin-left: 20px;}
.note-op-table {text-align: center; border-collapse: collapse;}
.note-op-table td {border: 1px solid #d9d9d9;line-height: 36px; vertical-align: middle;}
.compare-btn {display: inline-block; width: 50px; height: 24px;border: 1px solid #ebebeb; border-radius: 1px; text-align: center; line-height: 24px; cursor: pointer;}
.compare-btn i {display: inline-block; width: 10px; height: 10px;background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat  -85px -258px; margin-right: 3px;}
.compare-btn:hover {background-color: #05b47b; border: 1px solid #05b47b; color: #fff;}
.compare-btn:hover i {background-position: -85px -288px;}
.compare-cancel {display: inline-block; width: 80px; height: 21px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -113px -252px; cursor: pointer;vertical-align: middle;}
.compare-cancel:hover {background-position: -113px -277px;}
.commit-btn i{display: inline-block; width: 14px; height: 12px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat 0 -133px; margin-right: 6px;}
.commit-btn:hover i{background-position:  0 -158px;}
.qa-btn i{display: inline-block;width: 17px; height: 14px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -37px -133px; margin-right: 4px;}
.qa-btn:hover i{background-position:  -36px -157px;}
.colle-btn {cursor: pointer;}
.colle-btn i {display: inline-block;width: 19px; height: 18px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -72px -129px;vertical-align: -3px;margin-right: 4px;}
.colle-btn:hover i {background-position: -72px -153px;}

.product-feature {margin-top: 20px;}
.left-expert {width: 140px; float: left; text-align: center;}
.exp-avatar-bg {width: 77px; height: 71px; overflow: hidden;margin:0 auto 8px;}
.exp-avatar-bg > img {display: block; border-radius: 30px; -webkit-border-radius: 30px;}
.feature-list {float: left; margin-left: 10px;position: relative; width: 370px;}
.feature-list:hover .feature-extend {display: block;}
.feature-extend {position: absolute;left: -11px; top: -11px;padding: 10px; width: 100%;background-color: #fff;z-index: 99;border: 1px solid #e5e5e5; border-radius: 5px;display: none;}
.feature-extend > p {margin-bottom: 5px;}
.feature-list > p {margin-bottom: 5px;}
.feature-more {display: block; width: 13px; height: 6px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -54px -259px; margin: 8px auto 0;}
.ser-promise {border-top: 1px dashed #d9d9d9;margin-top: 12px; padding-top: 8px; color: #848484;}
.ser-promise i {display: inline-block; width: 22px; height: 22px;background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat 999px 999px; margin-right: 5px; vertical-align: -5px;}
.ser-promise .ser-icon1{background-position: -1px -217px;}
.ser-promise .ser-icon2{background-position: -41px -216px;}
.ser-promise .ser-icon3{background-position: -82px -216px;}
.ser-promise span {color: #333; margin-left: 30px;}
.bottom-div {height: 26px; line-height: 26px; background-color: #f0f0f0; margin-top: 10px;} 
.bottom-div span {text-decoration: underline; color: #05b47b;cursor: pointer;}

.booking-area {border: 3px solid #f5a84b; width: 1194px; margin: 15px auto 0;position: relative;}
.booking-top {background-color: #fffaf2; padding: 20px; font-size: 14px; color: #333;position: relative;width: 1154px;}
.loading-layer {position: absolute;left: 0; top: 0; width: 100%; height: 100%; z-index: 999; background-color: rgba(255,255,255,0.3);}
.loading-gif {width: 50px; height: 50px;background: url(//www.quimg.com/a4744/img/common/loading-large.gif) no-repeat; position: absolute;top: 50%; left: 50%; margin: -25px 0 0 -25px;}
.top-active {border-top: 3px solid #f5a84b; border-bottom: 1px solid #f5a84b;}

.start-date {width: 130px; height: 22px; border: 1px solid #b9bcbf; margin: 0 5px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat 118px -276px; background-color: #fff;}
.booking-top select {width: 76px; height: 30px; border: 1px solid #b9bcbf;margin-left: 7px;}
.start-date-tips {color: #05b47b; display: inline-block; border-bottom: 1px dashed #05b47b; margin: 0 15px 0 5px;}
.kid-age {color: #848484; margin: 0 10px 0 5px;}
.people-select {display: inline-block;}
.booking-right {width: 400px; float: right; position: relative; color: #333;margin-bottom: -10px;}
.booking-start-area {width: 250px;}
.total-price {font-size: 26px; line-height: 26px;}
.price-empty {font-size: 36px;line-height: 26px; vertical-align: -5px;}
.price-convert {display: inline-block; color: #05b47b;border-bottom: 1px dashed #05b47b;margin-left: 10px;vertical-align: 2px;}
.price-convert i {display: inline-block;width: 13px; height: 13px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -28px -252px; margin-left: 2px;}
.ave-price {margin-top: 5px;}
.book-rightnow {position: absolute; right: 0; top: 0;}
.consult {color: #05b47b;position: absolute; right: 0; bottom: -6px; text-decoration: underline;}
.table-consult {color: #05b47b;text-decoration: underline; cursor: pointer;}

.warn-msgbox {position: absolute;top: 130px; left: 50%; margin-left: -140px; border: 2px solid #f08300; border-radius: 3px; box-shadow: 0 0 2px rgba(0,0,0,.2);padding: 40px 0; width: 280px; text-align: center; background-color: #fff; font-size: 14px;}
.warn-msgbox i {display: inline-block; width: 18px; height: 16px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -222px -254px; vertical-align: -2px; margin-right: 6px;}

.room-info {border-top: 1px solid #f5a84b; padding: 30px 20px 30px 135px;background-color: #fff;position: relative; font-size: 14px;}
.room-detail-wrapper {width: 990px;}
.info-tag {font-size: 16px; color: #333; font-weight: bold;position: absolute; left: 20px; top: 30px;}
.combo-info {border-top: 1px solid #f5a84b; padding: 30px 20px 30px 135px;background-color: #fff;position: relative;}
.combo-list-wrapper {overflow: hidden;}
.room-option {overflow: hidden;}
.room-option-left {float: left;}
.option-item {margin-right: 40px;}
.option-item input {margin-right: 5px;}
.option-table-wrapper {position: relative;margin-top: 15px;}
.option-detail-table {border-collapse: collapse;}
.option-detail-table p {text-align: left; padding-left: 15px;}
.pf-option {margin-left: 100px; color: #05b47b;}
.pf-option input {margin-right: 5px;vertical-align: -2px;}
.table-arrow {width: 12px; height: 6px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -45px -282px;position: absolute; top: -5px; left: 40px;z-index: 10;}
.arrow-comfer {left: 175px;}
.option-detail-table td {border: 1px solid #b9bcbf;text-align: center;vertical-align: middle; height: 30px;}
.room-option-tips {font-size: 14px; color: #848484;margin: 14px 0 20px 0;}
.room-explain-table {border-collapse: collapse; float: right;}
.room-explain-table td {border: 1px solid #b9bcbf;text-align: center;vertical-align: middle;}
.room-explain-table p {margin-top: 15px;}
.room-explain {color: #f08300; line-height: 30px;}
.allot-reset {color: #05b47b; text-decoration: underline; cursor: pointer;}
.ajust-room-info {color: #05b47b; cursor: pointer;}
.ajust-room-info span {text-decoration: underline;}
.ajust-room-info i {display: inline-block;width: 12px; height: 12px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -260px -258px;vertical-align: -2px;margin-right: 5px;}
.adjust-confirm {display: inline-block;margin: 10px 30px 10px;}
.adjust-cancel {display: inline-block;}
.adjust-box {display: inline-block; width: 66px; height: 22px; border: 1px solid #d3d3d3; vertical-align: -2px;margin: 0 30px 0 5px;position: relative;}
.adjust-box span {display: inline-block;width: 30px;}
.plus {position: absolute;right: 6px;top: 6px; width: 10px; height: 10px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -266px -303px;}
.minus {position: absolute;left: 6px;top: 6px; width: 10px; height: 10px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -222px -303px;}
.adjust-box .plus-on, .minus-on{cursor: pointer;}
.plus-on {background-position: -266px -288px;}
.minus-on {background-position: -222px -288px;}

.hotel-expand {border-top: 1px dashed #d9d9d9;padding-top: 20px; font-size: 14px;color: #333;}
.hotel-item div {margin-bottom: 14px;}
.hotel-item span{display: inline-block; width: 35px; color: #848484;}
.hotel-cal {width: 130px; height: 22px; border: 1px solid #b9bcbf; margin: 0 5px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat 118px -276px;}
.hotel-item select {width: 350px; height: 30px; border: 1px solid #b9bcbf;margin-left: 5px;}
.single-bed {display: inline-block;width: 17px; height: 20px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -177px -167px;margin: 0 3px;}
.double-bed {display: inline-block;width: 21px; height: 20px; background: url(//www.quimg.com/a15099/img/page/localjoin/local-join/sprite.png) no-repeat -115px -167px;margin: 0 3px;}

.main-content {margin-top: 30px;position: relative;}
.content-left-main {background-color: #fff;position: relative;padding-top: 60px;box-shadow:0px 0px 2px 1px #cfdada; border-radius: 7px;-webkit-border-radius:7px;-moz-border-radius:7px; }
.scroll-nav {height: 60px;line-height: 60px;width: 1200px; border-top: 1px solid #f0f0f0;border-bottom: 1px solid #d9d9d9; background: #fff;position: absolute;top: 0px;left: 0px;border-radius: 7px 7px 0 0;-webkit-border-radius: 7px 7px 0 0;-moz-border-radius: 7px 7px 0 0;}
.scroll-nav >a {display: block; float: left;margin-left: 40px; font-size: 18px;text-align: center;color: #333;position: relative;}
.nav-arrow {display: none; width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 6px solid #05b47b;position: absolute;bottom: 0px;left: 50%;margin-left: -3px;}
.scroll-nav .on {border-bottom: 3px solid #05b47b;color: #05b47b}
.scroll-nav .on .nav-arrow {display: block;}
.scroll-nav-right {float: right;margin-right: 60px; display: none;}
.scroll-nav-right a {display: inline-block;}
.scroll-nav-right span {color: #05b47b;text-decoration: underline;cursor: pointer; margin-right: 20px;}
.section-title {height: 39px; line-height: 39px;background: url(//www.quimg.com/a13778/img/page/localjoin/local-join/wave-bg.png) repeat-x;padding-left: 20px;font-size: 20px;color: #333333;margin-top: 40px;position: relative;}
.mode-switch {position: absolute;left: 215px;top: -3px;}
.mode-switch .on {background-color: #00bb66;color: #fff;}
.mode-switch span{display: inline-block;width: 92px;height: 28px;line-height: 28px;text-align: center; color: #00bb66;margin-right: 35px;font-size: 14px;border-radius: 2px;-webkit-border-radius:2px;cursor: pointer;}
.mode-image-text {display: inline-block;width: 16px;height: 13px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -142px -101px;margin-right: 5px;vertical-align: -2px;}
.mode-map {display: inline-block; width: 14px;height: 19px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -144px -123px;vertical-align: -4px;margin-right: 5px;}
.mode-switch .on .mode-image-text {background-position: -119px -101px;}
.mode-switch .on .mode-map {background-position: -120px -123px;}
.tour-operate {float: right;font-size: 14px;color: #00bb66; margin-right: 40px;}
.tour-operate a {color: #00bb66; margin: 0 5px;}
.tour-brief-wrapper {width: 1025px;height: 180px; margin: 20px auto; border-bottom:1px solid #d9d9d9; position: relative;}
.brief-prev {position: absolute;left: 0;top: 0;width: 26px;height: 26px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -175px -137px; cursor: pointer;}
.brief-prev:hover {background-position: -211px -137px;}
.brief-next {position: absolute;right:0;top: 0;width: 26px;height: 26px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -175px -101px; cursor: pointer;}
.brief-next:hover {background-position: -210px -101px;}
.tour-brief-inner { width: 945px;height: 350px; padding: 15px;overflow: hidden;position: relative;margin: 0 auto;}
.time-line {width: 925px;border-top:1px solid #d9d9d9; margin-left: 50px;}
.tour-brief-list {width: 9999px;margin-top: -10px;}
.brief-item {width: 100px;float: left;margin-right: 41px; position: relative;}
.brief-item-index {display: inline-block;background-color: #fff;color: #848484;}
.brief-item-index span {font-weight: bold;}
.brief-item-index i {display: inline-block;width: 7px; height: 7px; background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png)  no-repeat -84px -130px;vertical-align: 2px;margin-right: 3px;}
.simple-box {margin-top: 20px;font-size: 12px}
.simple-box p {width: 100px;overflow: hidden;white-space: nowrap;text-overflow:ellipsis;}
.detail-box {position: absolute; top: 35px; left: -10px;background-color: #fff;padding: 10px;width: 90px;border: 1px solid #cccccc; display: none;z-index: 10;font-size: 12px}

.has-detail:hover .brief-item-index{color: #00bb66;}
.brief-item:hover .detail-box{display: block;}
.detail-box-arrow {position: absolute;top: -13px;left: 50%;margin-left: -30px;width: 21px; height: 13px; background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -252px -101px;}


.detail-content {padding:0 80px 0 135px;margin-top: -40px;}
.detail-item { font-size: 14px;padding-top: 50px;}
.item-h3 {font-size: 18px;color: #333333;margin: 10px 0 20px 0;}
.item-index {color: #72d5b5;font-size: 20px;font-style: italic;}
.item-index-num {font-size: 44px;margin-right: 15px;}
.item-para {margin: 6px 0 16px;}
.para-table {border-collapse: collapse;margin-bottom: 20px;}
.para-table td {border: 1px solid #cfdfdf;padding: 6px;height: 40px;}
.text-table td{vertical-align: top;height: 30px;}
.poi-tag {display: inline-block;cursor: pointer;position: relative;border: 1px solid #05b47b;padding: 1px 7px 1px 5px;line-height: 20px;color: #05b47b;margin: 0 10px 5px 0;}
.td-arrow {position: absolute;width: 100%;height: 100%;right: -7px;top: 0;background: url(//www.quimg.com/a13778/img/page/localjoin/local-join/td-icon.png) right 7px no-repeat;}
.poi-tag:hover {color: #fff; background-color: #05b47b;}
.poi-tag:hover .td-arrow {background: url(//www.quimg.com/a13778/img/page/localjoin/local-join/td-icon-hover.png) right 7px no-repeat;}
.img-list-wrapper {width: 925px;overflow: hidden;position: relative;height: 134px; margin-bottom: 20px;}
.img-list {position: absolute;left: 0;top: 0;}
.img-list li{margin-right: 11px; float: left;position: relative;}
.img-des-mask {width: 213px;height: 24px;color: #fff;background: rgba(0,0,0,0.5) none repeat scroll !important;background-color: #000;filter: Alpha(opacity=50);bottom: 0; position: absolute;font-size: 12px;padding-left: 10px;line-height: 20px;}
.teamtour-img-next{background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -411px -101px;width: 30px;height: 60px;position: absolute;top: 30px;right: 0;cursor:pointer;}
.teamtour-img-prev{background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -363px -101px;width: 30px;height: 60px;top: 30px;left: 0;position: absolute;cursor:pointer;}
.teamtour-img-next:hover {background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat  -411px -170px;}
.teamtour-img-prev:hover {background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat  -363px -170px;}

.section {position: relative;color: #333;font-size: 14px;}
.section-inner {padding:0 65px;}
.time-line-wrapper {position: absolute;position: absolute;top: 55px;left: 25px;}
.sidebar-item {border-left: 1px solid #cbcbcb;position: relative;line-height: 2.5;display: block;}
.time-line-nav {display: none;}
.map-link-icon {display: inline-block;width: 19px;height: 20px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -83px -67px; vertical-align: -3px;}
.time-line-nav .on .day-icon{background-position:-138px -159px;}
.time-line-nav .on .day-text{color:#0aaa96;}
.day-icon {background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat -120px -159px; width: 9px;height: 9px;position: absolute;top: 0px;left: -5px;}
.day-text {color: #848484;font-size: 14px;position: relative;top: -12px;left: 10px;}
.item-last-fix {border: none;}
.section .section-subtitle {position: relative;margin: 40px 0 20px 0;font-size: 16px;color: #333;}
.green-block {position: absolute;left: -16px;top: 7px;width: 6px;height: 6px;background-color: #05b47b;}
.cost-item {font-size: 14px;color: #333;line-height: 25px;}
.cost-table {border-collapse: collapse;margin-top: 20px;}
.cost-table td {border: 1px solid #d9d9d9;height: 40px;vertical-align: middle;padding-left: 10px;}
.notice-content {line-height: 26px;}
.notice-content p {font-size: 14px;color: #333;}

/*sidebar*/
.content-right {width: 340px;float: right; }
.content-right-inner {position: relative;top: 0;box-shadow:0px 0px 3px 1px #cfdada; border-radius: 7px;z-index: 999;}
.product-order {background-color: #fff;width: 340px;border-radius: 7px; -webkit-border-radius: 7px;}
.order-header {height: 64px;line-height: 64px;color: #ececec;font-size: 14px;padding:0 20px; background: url(//www.quimg.com/a13778/img/page/localjoin/local-join/wave-black.png) repeat-x;position: relative;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.order-header span{float:right;font-size:28px;}
.order-inner {padding: 10px 20px 30px;}
.group-label {font-weight: bold;font-size: 14px;color: #333;margin: 15px 0 10px;}
.setoff-date {display: block;height: 24px;width: 285px;border: 1px solid #c9ccd0;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) 270px -180px no-repeat;}
.date-wrapper {padding: 0 20px 8px; position: relative;}
.wrapper-fixed {position: absolute;background: #fff;width: 8px;height: 100%;top: 0;left: -1px;z-index: 12; display: none;}
.combo-wrapper {padding: 2px 20px 5px;position: relative; display: none;}
.edit-active {box-shadow:0px 0px 5px 2px #b1b1b1; }
.edit-active .wrapper-fixed {display: block;}
.edit-combo {float: right;width: 54px;height: 20px;line-height: 20px;text-align: center;border: 1px solid #00bb66; color: #05b47b; border-radius: 2px;-webkit-border-radius:2px;cursor: pointer;}
.edit-combo:hover {background-color: #f7f7f7;}
.combo-item {width: 300px;overflow: hidden;white-space: nowrap; text-overflow:ellipsis; color: #555; font-size: 14px;}
.combo-more {position: absolute; right: 20px;bottom: -15px; font-size: 14px; color: #00bb66;cursor: pointer;}
.room-group {overflow: hidden;margin-right: -18px;}
.room-group select {width: 85px;height: 30px;border: 1px solid #c9ccd0;display: block;margin-top: 3px;}
.group-item {float: left; color: #555; font-size: 14px; margin-right: 18px;}
.join-room {font-size: 14px;color: #555;margin-top: 10px; float: left;}
.pf-tips { border-bottom: 1px dashed #00bb66; }
.jd-installment {overflow: hidden;font-size: 14px; margin:0 -20px 30px 0;}
.jd-stage-btn {float: left;width: 140px;height: 42px;line-height: 42px; border: 1px solid #b8b7bd;text-align: center;margin-right: 14px;padding-top: 3px;position: relative;cursor: pointer;}
.jd-stage-btn span {font-weight: bold;}
.tick-icon {position: absolute;bottom: 0; right: 0; width: 12px;height: 12px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png)  no-repeat -293px -102px; display: none;}
.jd-installment .on {border: 2px solid #05b47b; width: 138px;height: 40px;padding-top: 2px;}
.jd-installment .on .tick-icon {display: block;}
.booking-now {display: block;height: 42px;line-height: 42px;text-align: center;color: #fff;font-size: 18px;border-radius: 2px;-webkit-border-radius: 2px;background-color: #00bb66;margin-top: 25px;}
.book-disable {background-color: #bbbbbb;}
.consult-cs {display: block;height: 42px;line-height: 42px;text-align: center;color: #00bb66;font-size: 18px;border-radius: 2px;-webkit-border-radius: 2px;border: 1px solid #00bb66;margin-top: 14px;}
.consult-cs:hover {background-color: #f7f7f7;}


.combo-group-item {width: 390px;float: left; margin:0 50px 15px 0;}
.combo-group-item  label {display: inline-block; width: 65px;margin-right: 8px;font-size: 14px;color: #848484; text-align: right;}
.combo-group-item select {width: 312px;height: 30px;border: 1px solid #c9ccd0;}
.combo-group-item .input {width: 186px;height: 22px;border: 1px solid #c9ccd0;margin: 0 0 10px 0;}
.combo-group-item .luggage-case {width: 212px;}
.luggage-text {font-size: 12px; color: #333;margin-left: 8px;}
.combo-check {margin-bottom: 10px;}
.combo-check input {vertical-align: -2px;}
.combo-check-text {font-size: 14px; color: #333; margin-left: 3px;}
.combo-cal {background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) 170px -180px no-repeat;}
.calender-container {width: 458px;background-color: #fff; position: absolute;top: 50px; left: 20px; z-index: 999; padding:20px; border: 1px solid #e5e5e5;box-shadow: 0px 0px 2px 1px #cfdada;}
.chosen-date {font-size: 14px;color: #848484; text-align: right;margin: -20px 0 10px 0;}
.chosen-date span {color: #f08300;}
.air-ticket-tips {font-size: 14px;color: #333;margin-top: 10px;}
.air-ticket-tips span {color: #f08300;}
.air-ticket-tips i {display: inline-block; width: 15px; height: 16px; background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png)  no-repeat -84px -39px;margin-right: 5px;}
.air-ticket-tips .imit-icon {width: 15px; height: 15px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat 0 -224px; display: inline-block;margin: 0 5px; vertical-align: -2px;}

 /*map section*/
.map-wrapper {margin:30px auto 0;position:relative;width:990px;height:570px;border:1px solid #B7C5C6;padding:5px;margin-bottom: 40px; display: none;}
.map-canvas {float:left;width:790px;height:570px;}
.tt_map_steps{height: 570px;width: 185px;overflow: auto;overflow-x:hidden;color: #333333;float: right;*position: relative;}
.tt_map_head{text-align: center;background: #e8e8e8;font-size: 14px;padding: 6px 0;border-left: 1px solid #f1f1f1;}
.tt_map_body{margin: 20px 0 0 9px;}
.tt_map_step{cursor: pointer;}
.tt_map_step:first-child{margin-bottom: 18px;}
.tt_map_step h4{width: 92px;padding: 3px 0 4px 0;background: #bfefef;text-align: center;border-radius: 20px;font-size: 14px;line-height: 14px;}
.tt_map_step .last{padding-bottom: 15px;}
.tt_map_day{list-style-type: none;margin-left: 13px;border-left: 2px solid #bfefef;padding: 15px 0 0px 17px;position: relative;font-size: 12px;line-height: 12px;color: #848484;}
.tt_map_step .last{padding-bottom: 10px;}
.icon-tt-all{display: inline-block;background: url(//www.quimg.com/img/page/channel/localjoin/tt-icons-all.png) no-repeat;}
.ie7 .icon-tt-all {zoom: 1;display: inline;}
.tt_map_day .icon-tt-all{position: absolute;top: 12px;left: -9px;z-index: 10;text-align: center;line-height: 17px;}
.icon-map{width: 16px;height: 19px;font-style:normal;background-position: 0 -164px;}
.tt_map_body .on .tt_map_day,
.tt_map_step:hover .tt_map_day{color: #f08300;}
.tt_map_body .on h4,.tt_map_step:hover h4{background-color: #f08300;color: #fff;}
.tt_map_body .on .icon-tt-all,
.tt_map_step:hover .icon-tt-all{color: #f08300;background-position: 0 -192px;}

/*calender wrapper*/
.calendar-wrapper{background-color:#fff;width:455px;border:1px solid #d5d4d4;border-top: 1px solid #f1f1f1;overflow-x:hidden;}
.calendar-head{clear:both;float:left;width:100%;height:37px;line-height:37px;overflow:hidden;position: relative;}
.prev-left-month, .prev-right-month {display:block;cursor:pointer;width: 20px;height: 20px;background: url(//www.quimg.com/a2399/img/common/calendar-prev-next.png) no-repeat 7px 5px #fff;margin: 8px;}
.prev-right-month{background-position: -17px 5px;}
.current-date{position: absolute;top: 0;height: 37px; width:210px;left: 50%; margin-left: -100px; color:#333;font-size: 14px; overflow: hidden;text-align: center;}
.current-date span {display: inline-block;width: 60px;margin-right: 10px;cursor: pointer;}
.current-date .on {font-weight: bold;}
.sale-month-list {position: absolute;left: 0;top: 0;}
.week-list{padding:0;clear:both;background-color:#E8E8E8;height:26px;line-height:26px;font-size:14px;}
.week-list li{display:block;float:left;width:65px;text-align:center;}
.week-list .weekend{color:#f08300;}
.date-list{list-style:none;padding:0;clear:both;float:left;background-color:#fff;font-size:14px;}
.date-list li{float:left;width: 14%;height:59px;border-right:1px solid #f1f1f1;border-bottom:1px solid #f1f1f1;text-align:center;padding-top:5px;overflow:hidden;position:relative;}
/*.date_list li:hover{border: 1px solid #00aa96;width: 63px;height: 58px;}*/
.date-list li.on{background-color:#e6fffb;border: 1px solid #00aa96;width: 63px;height: 58px;}
.date-list .invalid-day{color:#aeaeae;cursor:default;}
.date-list .invalid-day:hover {background-color:#fff;border-color: #f1f1f1;border-top: none;border-left: none;width:64px;height:59px;}
.date-list .right-li{width:65px;border-right:0;}
.date-list .inner-price{position: absolute;display: block;width: 65px;left: 0;bottom: 3px;color: #f08300;text-align: center;font-size: 12px;}
.valid {cursor: pointer;}
.valid:hover{background-color: #e6fffb;border: 1px solid #00aa96;width: 63px;height: 58px;}
.date-list .status0 {color: #00bb66;}
.date-list .status1 {color: #f83030;}
.date-list .status2 {color: #aeaeae;}
.im-icon {position: absolute;right: 0; top: 0; width: 15px; height: 15px;background: url(//www.quimg.com/a13890/img/page/localjoin/local-join/mixin.png) no-repeat 0 -224px;display: none;}


 /*pop-out of filling email start */
.section_po_wrapper{position: relative;z-index: 1001;display: none}
.seciton_email_success, .seciton_email_fail{z-index: 1001; }
.section_email_mask{background:#fff;position: absolute;z-index: 12; opacity: 0.5; height: 174px;width: 503px;text-align: center; line-height: 174px; top: -44px;right: -41px;}
.section_po{width: 447px;position: absolute; z-index: 11; border: 1px solid #d9e5e5;padding: 22px 27px;background: #fff; top: 7px;right: 60px; text-indent: 0;}
.icon-po-arr,.icon-po-arr-bg{display: inline-block;*zoom:1;*display: inline;width: 0;height: 0;position: absolute; z-index: 12;}
.icon-po-arr{border-bottom: 12px solid #d9e5e5;border-right: 12px solid transparent; border-left: 12px solid transparent; top: -13px;right: 75px;}
.icon-po-arr .icon-po-arr-bg{border-bottom: 12px solid #fff;border-right: 12px solid transparent; border-left: 12px solid transparent; top: 2px; left: -12px;}
.section_po_title{font-size: 16px; font-weight: bold; color: #999;line-height: 16px;}
.section_po_body{margin-top: 12px; color: #999;font-size: 16px;}
.section_po_body input{border: 1px solid #d8e2e3; background: #f7f9f9; padding: 7px 9px; font-size: 14px;margin-left: 8px;width: 242px;}
.section_po_foot{margin-top: 22px;text-align: center;}
.section_po_foot button{border: none;}
.section_po_foot .section_po_active{margin-right: 26px;}
.section_po .icon-email-success, .section_po .icon-email-fail{ position: absolute; z-index: 15;top: 37px;left: 13px;background-position: 0 -902px; width: 108px;height: 99px;}
.section_po .icon-email-fail{background-position: -122px -902px;width: 79px;height: 64px;}
.section_email_success_po{padding: 56px 27px;padding-bottom: 57px;}
.section_po h3{ font-size: 24px; color: #999;margin-left:90px;}
.section_email_success_tips{text-align:center; font-size: 14px;color:#848484;margin-top: 8px;}
.section_email_success_tips .section_sec{color:#ff8000;}
.ie7 .section_po,
.ie8 .section_po{top: 0px; right: -1px;}
.send-btn {background-color: #00bb66;}
.cancel-btn {color: #00bb66; border: 1px solid #dcdcdc!important; background-color: #fff;}

.scroll-part .bd_color_gray {border: none; border-top: 1px solid #cfdfdf;}

.wq_trip_subtable_show{color: #f08300;display: block;width: 60px;margin: 0 auto;padding-right: 20px;background: url(//www.quimg.com/a1722/img/common/showall-icon.png) center right no-repeat;cursor: pointer;}
.wq_trip_subtable_hide{background: url(//www.quimg.com/a168/img/common/hidesome-icon.png) center right no-repeat;}
.wq_trip_subtable_show:hover {text-decoration: underline;}
.line-h26 {line-height: 26px;}

table td{line-height: 26px;}

/*compare price*/
.compare_price_cart{position: fixed;bottom: 0px;width:1196px;left: 50%; margin-left: -600px; border:2px solid #05b47b;height:100px;background-color: #f0fffa;z-index:1001;}
.compare_price_cart ul{width:100%;height: 100%}
.compare_price_cart .cp_cart_product{width: 328px;height: 100px;border-right:1px dashed #b2c0c0;padding:10px;}
.compare_price_cart li{float:left;}
.cp_cart_title{font-size:14px;color: #000000;cursor: pointer;height: 40px;overflow: hidden;display: block;}
.cp_cart_title:hover{color: #05b47b}
.cp_cart_price{font-size: 14px;color: #f08300;}
.cp_cart_price font{font-size: 20px;}
.cp_cart_delete{font-size: 12px;color: #05b47b;float:right;cursor: pointer;}
.cp_cart_delete:hover,.cp_hide_btn:hover{color: #f08300}
.cp_cart_price_wrapper{clear:both;padding:16px 30px 0 0;line-height: 14px}
.cp_hide_btn{font-size: 12px;color: #05b47b;text-align: right;padding: 3px 3px 0;cursor: pointer;}
.cp_compare_btn{font-size: 13px;text-align: center;margin: 0 auto;margin-top:15px;margin-bottom: 6px}
.cp_compare_btn_wrapper{width:140px;height:100px;position: relative;}
.cp_clean_all{color: #05b47b;text-decoration: underline;text-align: center;font-size: 14px;cursor: pointer;}
.cp_clean_all:hover{color: #f08300;}
.cp_cart_placeholder{height:100px;width:285px;}
.cp_cart_placeholder p{text-align: center;font-size: 14px;color: #aeaeae;text-indent: 22px;padding-top: 20px;}
.ld_cp_limit_hint{width: 220px;height: 60px;border:1px solid #05b47b;border-radius: 2px;background-color: #fff;position: absolute;right: -82px;top: 230px;z-index: 1001; line-height: 20px;}
.ld_cp_limit_hint span{font-size: 14px;color: #000;display:inline-block;text-align: left;margin-top: 11px;}
.ld_cp_limit_hint_icon{background:url(//www.quimg.com/a11758/img/page/localjoin/wq_all_localjoin_detail.png) -171px -185px;width: 18px;height: 15px;position: relative;top:-18px;}
.ld_cp_limit_hint span font{color: #f08300}
.cart_compare_hint{background: url(//www.quimg.com/a11758/img/page/localjoin/wq_all_localjoin_detail.png) no-repeat -170px -215px;width: 239px;height: 47px;}
.cart_compare_hint{font-size: 14px;color: #000;position:absolute;top: -30px;right: 50px;padding: 11px 0 0 14px;}
.cart_compare_hint_icon{background:url(//www.quimg.com/a11758/img/page/localjoin/wq_all_localjoin_detail.png) -171px -185px;width: 18px;height: 15px;position: relative;display: inline-block;margin-right: 10px;}
/*compare price end*/
