.main{width: 1200px;margin: 0 auto;padding:20px 0;}
.section{width: 100%;margin-bottom: 20px;overflow: hidden;}
.s1_left,.s1_right{float:left;}
.s1_left{width:280px;background-color: #55cbbc;cursor: pointer;margin-bottom: -9999px;padding-bottom: 9999px;}
.s1_left img {display: block;}
.s1_left_font{font-size: 20px;color: #fff;font-weight: bold;padding:45px 0 0 30px;}
.s1_left_font span{font-size: 32px;font-weight: normal}

.s1_right{background-color: #fff;margin-left: 20px;width: 900px;min-height: 410px;}
.ticket_desc,.ticket_form{float:left;}
.ticket_desc{width: 235px;padding:20px;height: 370px;border-right: 1px dashed #d9d9d9}
.ticket_desc_title{font-size: 16px;color: #333333;border-bottom: 2px solid #0aaa96;display: inline-block;padding-bottom: 2px}
.ticket_desc_title span{color:#0aaa96;}
.ticket_desc h2{font-size: 14px;color: #333333;padding: 28px 0 5px;}
.ticket_desc_detail{font-size: 14px;color: #848484;line-height: 23px}

.ticket_form{padding:20px 0 20px 20px;}
.form_input_wrap .label{font-size: 14px;color: #333333;width:70px;text-align: right;line-height: 26px;height: 26px;padding-right: 8px;}
.form_input_wrap .label span{color: #f4a96b;position: relative;top: 3px;right: 8px;}
.form_input_wrap .label,.form_input_wrap .form_content{float:left;}
.form_content input[type="text"]{height:20px;border:1px solid #cfdfdf;}
.endlabel{font-size: 14px;color: #333333;padding: 0 5px 0 18px;}
.startplace,.endplace{width: 158px}
.form_content{color:#848484;font-size: 14px}
.form_input_wrap{margin-bottom: 11px;position: relative;}
.form_input_wrap:before,.form_input_wrap:after{display: table;content: " ";clear:both;}

.ie7 .form_input_wrap{margin-bottom: 10px;display: inline-block;}
.form_content input[type="radio"]{position: relative;top: 2px;}
.t_radio_wrap{padding:3px 0 0 10px;}
.t_radio_wrap label{width: 82px;display: inline-block;}
.t_mobile input{width: 249px;}
.form_content select{height:28px;border:1px solid #cfdfdf;width: 140px;margin-right: 10px;}
.t_mobile{position: relative;}
.t_mobile i{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat -185px -12px;width: 20px;height: 16px;display: inline-block;position: absolute;border-left:1px solid #d5e1e1;left: 119px;top: 6px;}
.t_remark{width: 483px;height: 49px;border:1px solid #cfdfdf;overflow: auto;resize:none;padding:5px 0 0 5px;}
.t_email{width: 236px}
.star{color: #f4a96b}
.text_center{text-align: center;}
.form_btn_wrap{width: 166px;margin-left: 237px;color:#848484;font-size: 12px}
.form_btn_wrap .btn{margin:0 auto;margin-bottom: 5px}
.timeSelectMonth i,.timeSelectDate i{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat -357px -1px;width: 12px;height: 5px;display: inline-block;position: absolute;top:-5px;left: 133px;}
.timeSelectMonth .form_content,.timeSelectDate .form_content{background-color: #f2f4f7;padding: 5px 0 5px 10px;position: relative;width: 481px;}
.timeSelectMonth .select_last_label{width:50px;}
.timeSelectMonth ,.timeSelectDate{padding-left: 77px;margin-top: -6px;margin-bottom: 6px;}
.timeSelectDate i{left:220px;}
.select_date_wrap{margin: 0 auto;width: 235px;position: relative;}
.select_date_wrap input{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat 145px -45px;width: 159px;background-color: #fff;color:#333333;cursor: pointer}

.special_sale_title,.special_sale_nav{float: left}
.special_sale_title{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat 0 0;width: 87px;height: 40px;font-size: 16px;color: #fff;line-height: 40px;padding-left: 45px;}
.special_sale_nav li{float: left;padding:0 23px;color: #333;font-size: 16px;position: relative;cursor:pointer;}
.special_sale_nav li.active{color: #0aaa96}
.special_sale_nav li.active i{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat -189px -1px;width: 12px;height: 4px;display: inline-block;position: absolute;bottom: 0px;
left: 33px;}
.special_sale_nav{line-height: 40px;}
.special_sale_head{border-bottom: 2px solid #0aaa96;overflow: hidden;margin-bottom: 18px}

.special_sale_content_wrap{width: 1200px;}
.ssc{display:none;overflow:hidden;clear:both;}
.ssc_cur{display:block;}

.ssc li{float:left;width: 386px;height: 131px;background-color: #fff;margin-right: 20px;font-size: 14px;color: #333333;margin-bottom: 20px}
.ssc li.thirdli{margin-right: 0px}
.ssc li a{cursor: pointer;overflow: hidden;color: #333}
.ssc_li_left,.ssc_li_right{float: left;padding:20px;position: relative;}
.li_go_icon,.li_back_icon{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat ;width: 22px;height: 22px;display: inline-block;}
.li_go_icon{background-position:-214px -1px }
.li_back_icon{background-position:-247px -1px }
.li_go_icon,.li_back_icon,.ssc_place{float: left}
.ssc_time{float: right;}
.ssc_row{overflow: hidden;}
.ssc_li_left{width: 164px;border-right: 1px dashed #d9d9d9}
.ssc_place{margin-left: 10px}
.ssc_double_line{  position: absolute;top: 14px;left: 43px;}
.ssc_double_line span{ font-size: 12px;color:#848484;  float: left;}
.ssc_double_line.second{top:51px;}
.ssc_row{margin-bottom: 14px}
.ssc_airline,.ssc_num,.ssc_applytime{color: #848484}
.ssc_num span{font-size: 18px;color: #f08300;margin:0 3px;}
.ssc_price{color:#f08300;font-size: 28px}
.ssc_price span{font-size: 14px}
.ssc_type,.ssc_price{margin-bottom: 6px}
.ssc_type span{color:#848484;}
.ssc_applytime{border-bottom: 1px dashed #848484;width: 85px;}

.ticket_call,.ticket_call_icon{font-size: 18px;color: #848484}
.ticket_call_num{font-size: 24px;color: #333333}
.left_line,.right_line{border-top:1px solid #d9d9d9;width: 255px}
.ticket_call p{float:left}
.ticket_call .right_line{float:right;}
.left_line{position: relative;top: 12px;margin-right: 16px;}
.ticket_call_num{margin: 0 16px;position: relative;top: -3px;}
.right_line{position: relative;top: 12px;}
.ticket_call_icon{color: #d9d9d9}
.ticket_call_desc span{color: #d9d9d9}

.five_limit_logo{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat -288px -3px;width: 52px;height: 52px;position: absolute;top: -12px;right: -32px;}

/*success*/
.airline_ticket {cursor: pointer;}
.airline_ticket img {display: block;}
.at_layer {position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 99999;cursor: default;}
.at_layer .mask {position: absolute;width: 100%;height: 100%;top: 0;left: 0;background-color: #000;opacity: 0.6;filter: alpha(opacity=60);}
.at_layer .dialog {position: fixed;width: 690px;border: 1px solid #cfdfdf;background-color: #fff;left: 50%;margin-left: -356px;height: 600px;top: 50%;margin-top: -250px;}
.at_layer .dialog h2 {color: #0aaa96;height: 38px;line-height: 38px;text-indent: 20px;font-size: 18px;background-color: #ecf8f4;border-bottom: 1px solid #cfdfdf;}
.at_layer .dialog .close {position: absolute;width: 16px;height: 16px;background: url(//quimg.com/img/page/airline-ticket/all.png) no-repeat -33px 0;top: 10px;right: 10px;}
.info_dialog .at_info {position: relative;padding: 25px 0 0 150px;}
.info_dialog .at_info i {position: absolute;width: 108px;height: 124px;background: url(//quimg.com/img/page/airline-ticket/all.png) no-repeat 0 -35px;left: 30px;top: 0;}
.info_dialog .at_info p {padding-bottom: 8px;}
.info_dialog .at_input {padding: 25px 0 0 150px;font-size: 14px;}
.at_input .input_group {padding-bottom: 20px;}
.at_input select, .at_input input, .at_input textarea {border: 1px solid #b7c5c5;}
.at_input select {height: 26px;line-height: 26px;width: 112px;}
.at_input input {height: 18px;line-height: 18px;width: 210px;}
.at_input textarea {resize: none;width: 328px;height: 120px;padding: 5px;}
.at_input .vtop {vertical-align: top;}
.at_btn {overflow: hidden;}
.at_btn a {float: left;margin-left: 20px;}
.at_btn .btn_confirm {margin-left: 225px;}
.at_layer .success_dialog {height: 265px;margin-top: -132px;}
.success_dialog .success_info {position: relative;padding: 30px 0 0 230px;}
.success_info i {position: absolute;width: 97px;height: 80px;background: url(//quimg.com/img/page/airline-ticket/all.png) no-repeat 0 -166px;left: 115px;top: 40px;}
.success_info p {padding-bottom: 8px;}
.success_dialog .btn_disable {margin: 30px 0 0 286px;}

.a_verify_hint{font-size: 12px;color:red;position: absolute;top: 28px;z-index: 2;background: #fef2e0;padding: 2px 13px 5px;box-shadow: 0px 0px 2px #b6b0ac;color: #333;}
.startplace_hint{left:79px;}
.endplace_hint{right: 130px}
.ie7 .endplace_hint{right: 58px}
.mobile_hint{right:100px;}
.email_hint{left: 78px;}
.mobile_wrapper{z-index:5;}
.email_wrapper{z-index:4;}
.mark_wrapper{z-index:3;}
.a_verify_hint span{background: url('//quimg.com/img/page/airline-ticket/detail_all.png') no-repeat 0 -84px;width: 16px;height: 16px;display:inline-block;position: relative;top: 3px;left: -3px;}
.form_content input.error{border:1px solid red}
.ie7 .a_verify_hint span{left:-5px;top:0;}
.ie7 .a_verify_hint{top:29px;}