 @import url(//www.quimg.com/a13525/css/hotel/common/hotel-search.css);

.float_left{float:left;}
.clear{clear:both;}
.block{display:block;}
.inline_block{display:inline-block;}


/* ++++++++++++++++++++
 * discount tag start +
 * ++++++++++++++++++++
 */
.discount_tag {position: relative;display: inline-block;font-size: 12px;line-height: 18px;background-color: #f08300;color: #fff;width: 50px;}
.discount_tag span {position: absolute;background-color: #fff;color: #f08300;right: 1px;top: 1px;line-height: 16px;}


/* ++++++++++++++++++
 * hotel star start +
 * ++++++++++++++++++
 */
.hotel_star {width: 75px;height: 16px;margin: 15px auto 0;background-image: url(//www.quimg.com/a10484/img/page/hotel/all.png);zoom: 0;}
.hotel_star0 { background-position: -260px -151px }
.hotel_star10{ background-position: -260px -121px }
.hotel_star20, .hotel_star15 { background-position: -260px -89px }
.hotel_star30, .hotel_star25 { background-position: -260px -58px }
.hotel_star40, .hotel_star35  { background-position: -260px -27px }
.hotel_star50, .hotel_star45 { background-position: -260px 4px }


/* +++++++++++++++++++++++
 * search recomend layer +
 * +++++++++++++++++++++++
 */
.recomend_wrapper {position: absolute;z-index: 1111;width: 370px;padding: 0 10px;background-color: #fff;border-top: 1px solid #f1f1f1;border-left: 1px solid #e8e8e8;box-shadow: 1px 1px 2px #888;overflow: hidden;}
.recomend_wrapper div {position: relative;top: -2px;border-top: 1px dotted #aeaeae;padding: 15px 0;font-size: 14px;}
.recomend_wrapper div h3 {color: #333;font-size: 14px;padding-bottom: 10px;}
.recomend_wrapper ul {overflow: hidden;}
.recomend_wrapper ul li {float: left;color: #848484;width: 25%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-bottom: 4px;}
.recomend_wrapper ul li span {padding: 0 3px;}
.recomend_wrapper ul li span:hover, .recomend_wrapper ul li.on span {cursor: pointer;background-color: #0aaa96;color: #fff;}


 /* ++++++++++++++++++
 * room policy start +
 * +++++++++++++++++++
 */
.hotel_room_policy{display:none;width: 382px; border: 1px solid #e0e0e0;box-shadow:0 0 1px #ccc; background-color: rgb(255, 255, 255); position: absolute; z-index: 200;top: 31px;left: -100px;}
.hotel_room_policy .icon-po-arr,
.hotel_room_policy .icon-po-arr .icon-po-arr-bg{position: absolute; display: inline-block; *zoom: 1; *display: inline; width: 0;height: 0;border-bottom: 10px solid #e0e0e0;border-right: 10px solid transparent;border-left: 10px solid transparent;left: 100px; top: -11px;}
.hotel_room_policy .icon-po-arr .icon-po-arr-bg{border-bottom-color: #fff; top: 2px; left: -10px;}
.hotel_room_policy .title{color:#06a6a6;font-size:18px;font-weight:bold;padding: 10px 25px; background: #d4f5f5;display: none;}
.hotel_room_policy .content{color:#333;font-size:13px;padding: 16px 25px;background: #fff;}
.hotel_room_policy .tip-kindly{margin-top: 0px;}


/* +++++++++++++++++++++
 * right section start +
 * +++++++++++++++++++++
 */
.right_wrapper {float: right;width: 280px;}
.right_wrapper_content {margin-bottom: 20px;background: #fff;padding: 15px 20px;font-size: 14px;color: #848484;}
.right_wrapper_title {color: #333;font-size: 16px;font-weight: normal;line-height: 24px;padding-bottom: 5px; border-bottom:2px solid #0aaa96; display: inline-block;margin-bottom: 15px;}
.title_wrapper{border-bottom: 2px solid #0aaa96; }
.title_tab{width: 132px; height: 38px; background: url(//www.quimg.com/a10484/img/page/hotel/all.png) -155px -704px no-repeat;float: left;position: relative;}
.title_tab h3{color: #fff;font-size: 16px; font-weight: bold; line-height: 40px;margin-left: 45px;}
.title_icon_hot{display: block; width: 17px; height: 22px;background: url(//www.quimg.com/a10484/img/page/hotel/all.png) -75px -713px no-repeat;position: absolute;left: 17px; top: 9px;}
.title_icon_preference{display: block; width: 19px; height: 22px;background: url(//www.quimg.com/a10484/img/page/hotel/all.png) -114px -713px no-repeat;position: absolute;left: 17px; top: 9px;}
.our_promise {padding: 0 0 15px 0;background-color: #fff;height: 270px;}
.our_promise li {width: 247px;padding: 15px 0 17px 0;border-bottom: 1px dotted #dedede;}
.our_promise li.our_promise_last {border-bottom: none;padding-bottom: 0;}
.op_left {position: relative;float: left;width: 36px;padding-top: 40px;padding-right: 14px;}
.op_left p {font-size: 14px;color: #0aaa96;text-align: center;}
.op_left i {position: absolute;top: 2px;left: 0;width: 41px;height: 37px;background-image: url(//www.quimg.com/a10484/img/page/hotel/all.png);background-repeat: no-repeat;}
i.money_icon {background-position: -78px -359px;}
i.time_icon {background-position: -78px -431px;}
i.heart_icon {background-position: -78px -510px;}
.promise_divide {height: 0;border-top: 1px solid #e1e1e1;border-bottom: 1px solid #fff;margin-bottom: 6px;}
.faq_wrapper {overflow: hidden;}
.faq_wrapper > a {float: right;font-size: 13px;margin-top: 5px;color: #848484;}
.faq_wrapper > a:hover {color: #f08300;}


/* ++++++++++++++++++++++++
 * hotel common map start +
 * ++++++++++++++++++++++++
 */
.hotel_map_wrapper {display: none;position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 10001;}
.hotel_mask {position: fixed;width: 100%;height: 100%;top: 0;left: 0;background-color: #000;opacity: 0.8;filter: alpha(opacity=80);}
.hotel_map_container {position: fixed;top: 50%;left: 50%;width: 890px;height: 700px;margin-top: -350px;margin-left: -450px;background-color: #fff;padding: 5px;}
.hotel_map_close {position: absolute;width: 50px;height: 50px;right: -20px;top: -20px;background: url(//www.quimg.com/a10484/img/page/hotel/all.png) no-repeat -68px -608px;z-index: 10002;}
.hotel_map_title {font-size: 18px;color: #333;background-color: #e8e8e8;text-indent: 30px;}
.hotel_map_title > p {line-height: 20px;padding-top: 18px;}
.hotel_map_title > span {position: relative;font-size: 14px;line-height: 40px;margin-left: 30px;padding-left: 16px;}
.hotel_map_title > span > i {position: absolute;top: 0;left: 0;width: 12px;height: 16px;background: url(//www.quimg.com/a10484/img/page/hotel/all.png) no-repeat -76px -670px;}
.hotel_map {height: 580px;width: 890px;background-color: #ddd;margin-top: 3px;}
.hotel_map_tips {text-indent: 30px;line-height: 40px;font-size: 14px;color: #333;}

/* 10% discount */
.discount_icon {position: absolute;top: 0;left: 10px;z-index: 100;}

/* ++++++++++++++
 * search empty +
 * ++++++++++++++
 */
.msg {line-height:22px;margin:0 auto;color:#f08300;font-size:14px;color: #333;background-color: #fff;padding: 20px 0;width: 100%;margin-top: 20px;}
.msg > div {width: 357px;margin: 0 auto;}
.msg .icon-detail-all {float: left;margin-right: 10px;}

/* ++++++++++++++++++++++
 * hotel room info icon +
 * ++++++++++++++++++++++
 */
.hotel_info_tb div {position: relative;padding: 0 20px;}
.hotel_info_tb i {position: absolute;background-image: url(//www.quimg.com/a10484/img/page/hotel/all.png);background-repeat: no-repeat;}
i.ad_icon {background-position: -548px -415px;width: 16px;height: 15px;top: 5px;left: 2px;}
i.wifi_icon {background-position: -585px -413px;width: 16px;height: 14px;top: 5px;left: 2px;}
i.park_icon {background-position: -584px -451px;width: 16px;height: 17px;top: 3px;left: 1px;}
i.swim_icon {background-position: -582px -496px;width: 19px;height: 17px;top: 4px;left: 0;}

/* ++++++++++++++++++++++
 * hotel banner slider +
 * ++++++++++++++++++++++
 */
.btn_list {position: absolute;width: auto;right: 20px;bottom: 20px;}
.btn_item {float: left;margin-right: 8px;width: 12px;height: 12px;background-image: url(//www.quimg.com/a12088/img/page/index/index-all.png);background-position: 0 0;text-align: center;color: #fff;}
.btn_item:hover, .btn_item.active {cursor: pointer;background-position: -22px 0;}

.orange_btn{
	width:60px;height:30px;background-color:#f08300;line-height:30px;font-size:16px;text-decoration:none;outline-style:none;
	border-radius:2px;text-align:center;cursor:pointer;color:#fff;float:left;
}
