
/*
 top banner
*/
.top_banner {position: relative;width: 100%;height: 400px;}
#rentcarBannerBg {position: absolute;width: 100%;height: 400px;overflow: hidden;top: 0;left: 0;}
.rentcar_banner_list {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.rentcar_banner_list li {float: left;width: 100%;height: 100%;}
.rentcar_banner_list li a, .rentcar_banner_list li a img {display: block;width: 100%;height: 100%;}
.rentcar_banner_list .item1 {background: url(http://quimg.com/img/page/rentcar/channel/banner.jpg) no-repeat center;}
.rentcar_banner_list .item2 {background: url(http://www.quimg.com/a1903/img/page/hotel/index/banner/banner3.jpg) no-repeat center;}
.btn_list {position: absolute;width: auto;right: 20px;top: 368px;}
.btn_item {float: left;margin-right: 8px;width: 12px;height: 12px;background-image: url(//quimg.com/img/page/index/index-all.png);background-position: 0 0;text-align: center;color: #fff;}
.btn_item:hover, .btn_item.active {cursor: pointer;background-position: -22px 0;}

.rentcar_search {position: relative;width: 1200px;margin: 0 auto;padding-top: 20px;height: 0;}
.search_box {position: relative;top: 0;left: 0;width: 250px;height: 364px;padding: 0 20px;}
.search_bg {position: absolute;left: 0;top: 0;width: 290px;height: 100%;background-color: #fff;z-index: 0;}
.search_opt {position: relative;z-index: 1;}
.sb_title {font-size: 18px;color: #333;height: 20px;line-height: 20px;padding-top: 16px;text-align: center;}

.search_box .select_box {width: 250px;}
.select_box > label {display: block;font-size: 14px;color: #333;line-height: 14px;padding: 20px 0 12px 0;}
.wq_rent_filter, .wq_drop_filter {width: 278px;margin-right: 10px;}
.wq_rc_title {font-size: 14px;line-height: 24px;color: #333;font-weight: bold;text-indent: 8px;}
.wq_rc_city {border: 1px solid #cfdfdf;padding: 5px;width: 238px;height: 18px;line-height: 18px;background: url(//quimg.com/img/common/woqu-rentcar-all.png) no-repeat 233px -490px #fff;}
.triangle_divide {position: absolute;right: 19px;top: 6px;width: 0;height: 16px;border-right: 1px solid #d4dfe0;padding-left: 8px;}
.city_triangle_divide {width: 0;height: 16px;border-right: 1px solid #d4dfe0;padding-left: 8px;margin-top: 1px;  position: absolute;right: 20px;}
.wq_rc_city > span, .wq_rc_date > span, .wq_rc_time > span {float: left;}
.city_en {color: #333;font-size: 14px;width: 150px;height: 18px;line-height: 18px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.city_cn {font-size: 13px;color: #333;width: 65px;text-align: right;height: 18px;line-height: 18px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.wq_rc_date_wrapper {margin-top: 10px;}
.wq_rc_date_wrapper > div {float: left;padding: 4px 7px;height: 18px;line-height: 18px;}
div.wq_rc_date {position: relative;width: 152px;height: 28px;padding: 0;border: 1px solid #cfdfdf;}
.date_num {float: left;border: none;width: 140px;height: 22px;font-size: 12px;color: #333;background: url(//quimg.com/img/common/woqu-rentcar-all.png) no-repeat 136px -490px #fff;}
.ie8 .date_num, .ie7 .date_num {height: 18px;padding: 7px 6px 3px 6px!important;}
.date_week {position: absolute;top: 5px;right: 25px;width: 30px;text-align: center;font-size: 12px;color: #333;}
div.wq_dt_divide {color: #848484;height: 20px;width: 22px;text-align: center;padding: 4px 0;}
div.wq_rc_time {position: relative;border: 1px solid #cfdfdf;width: 72px;height: 28px;padding: 0;font-size: 12px;color: #333;line-height: 28px;text-indent: 12px;background: url(//quimg.com/img/common/woqu-rentcar-all.png) no-repeat 57px -490px #fff;}
.wq_rc_time select {position: absolute;left: 0;top: 0;opacity: 0;filter: alpha(opacity=0);height: 28px;line-height: 28px;width: 74px;}
.time_num {width: 41px;font-size: 12px;color: #333;}

.time_tips {font-size: 14px;color: #333;line-height: 14px;padding: 10px 0 20px 0;  text-align: right;}

.search_btn {display: block;margin: 0 auto;}

/*
 promise section
*/
.promise_container {overflow: hidden;width: 100%;padding: 38px 0 15px 0;}
.promise_container dl {position: relative;padding-left: 110px;float: left;width: 190px;}
.promise_container dl dt {position: absolute;top: 4px;left: 45px;width: 54px;height: 54px;background-image: url(//quimg.com/img/page/rentcar/channel/all.png);background-repeat: no-repeat;}
dt.quality {background-position: 0 0;}
dt.price {background-position: -63px 0;}
dt.cancellation {background-position: -126px 0;}
dt.insurance {background-position: -189px 0;}
.promise_container dl h3 {font-size: 18px;color: #333;padding-bottom: 3px;}
.promise_container dl p {font-size: 13px;color: #848484;}

/*
 main left
*/
.main .left {float: left;width: 900px;}
.section {padding-top: 20px;}
.section .title_box {border-bottom: 2px solid #0aaa96;}
.title_box h2 {position: relative;display: inline-block;background-color: #0aaa96;height: 38px;line-height: 38px;color: #fff;font-size: 16px;padding: 0 20px 0 48px;border-radius: 5px 5px 0 0;font-weight: bold;}
.ie7 .title_box h2 {display: inline;zoom: 1;}
.title_box i {position: absolute;background: url(//quimg.com/img/page/rentcar/channel/all.png) no-repeat;}
.car_type .title_box i {background-position: 0 -211px;width: 24px;height: 22px;top: 8px;left: 16px;}
.rent_strategy .title_box i {background-position: -34px -211px;width: 25px;height: 25px;top: 8px;left: 16px;}
.car_experience .title_box i {background-position: -68px -211px;width: 25px;height: 25px;top: 8px;left: 16px;}
.car_type_list {overflow: hidden;padding-top: 10px;}
.car_type_list li {float: left;margin: 0 21px 20px 0;width: 286px;}
.car_type_list .last {margin-right: 0;}
.car_type_list li a {display: block;background-color: #fff;padding: 15px;}
.car_type_list li a:hover h3 {color: #f08300;}
.car_type_list li a img {display: block;}
.car_type_list li h3 {font-size: 16px;color: #333;width: 255px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.city_count {height: 35px;line-height: 35px;}
.city_count .city {float: left;color: #848484;font-size: 13px;}
.city_count .book {float: right;color: #848484;font-size: 13px;}
.city_count .book span {color: #f08300;}
.price_book .price {float: left;color: #f08300;font-size: 12px;}
.price_book .price span {font-size: 20px;}
.price_book .btn {float: right;}

.strategy_box {padding-top: 10px;}
.strategy_box > div {padding: 20px;background-color: #fff;}
.strategy_box .s_left {float: left;width: 330px;text-align: center;}
.strategy_box .s_left a {float: left;border: 1px dotted #d9d9d9;width: 108px;height: 91px;font-size: 14px;color: #333;}
.strategy_box .s_left a:hover {background-color: #f9f9f9;}
.strategy_box .s_left a:hover p {color: #f08300;}
.strategy_box .s_left a i {display: block;width: 68px;height: 46px;background-image: url(//quimg.com/img/page/rentcar/channel/all.png);margin: 10px auto 5px auto;}
.book_step {background-position: 18px -57px;}
.car_type {background-position: -51px -55px;}
.insurance_desc {background-position: -127px -63px;width: 40px!important;}
.pick_car {background-position: -166px -55px;}
.pick_material {background-position: 1px -105px;width: 45px!important;}
.cash_pledge {background-position: -52px -101px;width: 45px!important;}
.drop_car {background-position: -104px -109px;width: 45px!important;}
.driver_att {background-position: -155px -109px;width: 45px!important;}
.drop_att {background-position: -199px -105px;}
.no_tb {border-top-color: #fff!important;}
.no_rb {border-right-color: #fff!important;}
.no_bb {border-bottom-color: #fff!important;}
.no_lb {border-left-color: #fff!important;}
.strategy_box .s_right {float: right;width: 500px;}
.strategy_box .s_right .link_list a {float: left;}
.strategy_box .s_right .first {margin-right: 20px;}
.strategy_box .s_right .fqa_list {padding-top: 10px;}
.strategy_box .s_right .fqa_list a {display: block;color: #333;font-size: 14px;line-height: 22px;}
.strategy_box .s_right .fqa_list a:hover {color: #f08300;}

.experience_box {padding-top: 10px;}
.experience_box > div {background-color: #fff;padding: 0 15px 15px 15px;max-height: 1070px;overflow: hidden;}
.ie7 .experience_box > div{position: relative}
.experience_list li {position: relative;overflow: hidden;border-bottom: 1px dotted #d9d9d9;padding: 15px 0;}
.experience_list .img_box {float: left;height: 150px;width: 245px;}
.img_box .s_brand {position: absolute;top: 20px;left: 0px;z-index: 10;}
.img_box p {font-size: 14px;}
.info_box .top {overflow: hidden;font-size: 14px;}
.info_box .top .user_name {position: relative;float: left;color: #333;padding-left: 15px;}
.info_box .top .user_name i {position: absolute;top: 3px;left: 0;width: 10px;height: 13px;background: url(//quimg.com/img/page/rentcar/channel/all.png) no-repeat 0 -188px;}
.info_box .top .product_title {margin-left: 30px;color: #0aaa96;}
.info_box .top .order_num {float: right;color: #848484;}
.info_box .comment {font-size: 14px;color: #333;line-height: 22px;padding-top: 5px;}
.pic_list img {margin-right: 10px;}

/*
 main right
*/
.main .right {float: right;width: 280px;padding-top: 17px;}
.main .right > div {background-color: #fff;margin-bottom: 20px;padding: 0 20px;}
.right_title {font-size: 18px;color: #333;height: 40px;line-height: 50px; border-bottom: 2px solid #0aaa96;display: inline-block;}
.ie7 .right_title{display: inline;zoom: 1;}
.car_supplier_list {padding: 5px 0;max-height: 530px;overflow: hidden;}
.ie7 .car_supplier_list {position: relative;}
.car_supplier_list li {overflow: hidden;border-bottom: 1px dotted #d9d9d9;padding: 14px 0;}
.car_supplier_list .last {border-bottom: none;}
.car_supplier_list li img {float: left;}
.car_supplier_list .info {position: relative;float: left;padding-left: 5px;width: 158px;}
.car_supplier_list .info h3 {font-size: 16px;color: #333;width: 120px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.car_supplier_list .info p {font-size: 13px;color: #333;}
.car_supplier_list .info .discount {position: absolute;top: 0;right: 0;font-size: 13px;color: #f08300;}

.drive_navigation {padding: 5px 0;}
.drive_navigation li {position: relative;border-bottom: 1px dotted #d9d9d9;}
.drive_navigation li a {position: relative;overflow: hidden;display: block;padding: 14px 0;width: 280px;margin-left: -20px;}
.drive_navigation li a:hover {background-color: #f9f9f9;}
.drive_navigation li a:hover h3, .drive_navigation li a:hover p {color: #f08300;}
.drive_navigation .last {border-bottom: none;}
.drive_navigation li div {padding-left: 65px;}
.drive_navigation li h3 {font-size: 16px;color: #333;font-weight: bold;}
.drive_navigation li p {font-size: 14px;color: #848484;}
.drive_navigation li i {position: absolute;top: 15px;left: 20px;width: 34px;height: 34px;background-image: url(//quimg.com/img/page/rentcar/channel/all.png);}
.gps {background-position: 0 -287px;}
.wifi {background-position: -44px -287px;}
.insurance {background-position: -88px -287px;}
.drive_navigation li em {position: absolute;top: 38px;right: 20px;width: 10px;height: 20px;background: url(//quimg.com/img/page/rentcar/channel/all.png) no-repeat -27px -161px;}

.rent_includes {padding-top: 15px;}
.rent_includes li {border-bottom: none;padding-bottom: 14px;}
.rent_includes li div {padding-left: 28px;}
.rent_includes li i {top: 1px;left: 1px;width: 17px;height: 17px;background-position: 0 -161px;}

.price_advantage i {left: 0!important;}
.price_advantage li {padding: 14px 0;}
.price_advantage li div {padding-left: 45px;}
.price_advantage .supplier {background-position: 0 -243px}
.price_advantage .package {background-position: -44px -243px}
.price_advantage .cancel {background-position: -88px -243px}
.price_advantage .compare {background-position: -132px -243px}


 