img{display: block;}
.section{position: relative;margin-bottom: 40px;}
.banner{height:415px;position: relative;}
.piclist{overflow: hidden;height: 415px;width: 1200px;}
.piclist li{display: none;}
.piclist .active{display: block;}
.btnlist{position: absolute;top:360px;left: 345px;width: 850px;}
.btnlist li{width: 116px;height: 38px;cursor: pointer;background: url(//quimg.com/img/page/channel/localjoin/localjoin-icon.png) no-repeat 0 0;float:left;margin-right: 4px;text-align:center;line-height:38px;font-size:14px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding:0 10px;}
.btnlist li.current{background-position: 0 -38px;color:#fff;}

.feature{height: 100px;background-color: #fff;text-align: center;}
.feature li{display: inline-block;padding:25px 0 0 98px;text-align: left;*display:inline;*zoom:1;margin-right: 10px;}
.feature h3{font-size: 16px;line-height: 26px;position: relative;}
.feature p{font-size: 13px;color: #757575;}
.feature span{display: block;position: absolute;top:6px;background: url(//quimg.com/img/page/channel/localjoin/localjoin-icon.png) no-repeat;}
.feature .s1{width: 38px;height: 40px;left:-58px;background-position: -180px 0;}
.feature .s2{width: 41px;height: 37px;left:-61px;background-position: -218px 0;}
.feature .s3{width: 52px;height: 42px;left:-72px;background-position: -259px 0;}
.feature .s4{width: 44px;height: 38px;left:-64px;background-position: -311px 0;}

.banner-menu{width: 264px;height: 382px;background:#fff;border-top: 3px solid #00bb66;position: absolute;top: 13px;left:40px;}
.banner-menu li{height:93.5px;border:1px solid #fff;font-size:14px;padding-left:18px;border-right:none;position: relative;}
.banner-menu .tit{height: 31px;overflow: hidden;line-height: 43px;padding-left: 44px;}
.banner-menu .tit h3{font-weight: 700;}
.banner-menu .tit span{position: absolute;display: block;width: 44px;height: 31px;top:0;left:18px;background:url(//quimg.com/img/page/channel/localjoin/localjoin-icon.png) no-repeat;}
.banner-menu .nafta .tit span{background-position: 10px -100px;}
.banner-menu .anz .tit span{background-position: -42px -103px;}
.banner-menu .emea .tit span{background-position: -82px -100px;}
.banner-menu .aisa .tit span{background-position: -128px -100px;}
.banner-menu .hotlink{height: 48px;overflow: hidden;}
.banner-menu .hotlink a{display: block;width:74px;line-height: 14px;margin-top: 10px;float: left;color: #555555;}
.banner-menu .hotlink a:hover,.banner-menu .hide a:hover{color:#00bb66;}
.banner-menu .line{display: block;position: absolute;bottom: -2px;z-index: 10; left: 18px;width: 225px;height: 1px;background-color:#d9d9d9;}
.banner-menu .hide{font-size:14px;line-height: 14px; width: 660px;padding:10px 10px 20px;top:-1px;position: absolute;left: 263px;border:1px solid #0dbe6e;background-color: rgba(255,255,255,.98);}
/*not support bgra*/
.ie8 .banner-menu .hide,.ie7 .banner-menu .hide,.ie6 .banner-menu .hide{background-color:#fff;}
.banner-menu .hide dl{padding-top: 10px;overflow: hidden;}
.banner-menu .hide dt{width: 110px;float: left;color:#848484;text-align: right;}
.banner-menu .hide dd{width: 550px;float: left;}
.banner-menu .hide a{color:#333;margin-bottom: 10px;display: inline-block;padding:0 20px 0 0;}
.banner-menu .anz .hide{top:-97px;}
.banner-menu .emea .hide{top:-192px;}
.banner-menu .aisa .hide{top: auto;bottom:-1px;}
.banner-menu .aisa .line{background: none;}

.banner-menu li:hover{border-color: #0dbe6e;z-index: 11;}
.banner-menu li:hover .line{background-color: #fff;width: 1px;height: 94px;left:263px;bottom:0;}
.banner-menu li:hover .hide{display: block;}

.title{font-size: 14px;overflow: hidden;padding:10px 0;border-bottom: 2px solid #6a6a6a;margin-bottom: 20px;}
.title .more{float: right;color:#848484;line-height: 46px;height:32px;overflow: hidden;}
.title .more a{color: #333;margin-left:5px;}
.title .tit{height:32px;line-height: 32px;overflow: hidden;}
.title .tit h2{float: left; font-size: 32px;margin-right: 20px;}
.title .tit h3{float: left;margin:5px 20px 0 0;height: 26px;line-height: 26px;padding: 0 18px 0 8px;background-color:#f6697a;color:#fff;position: relative;}
.title .tit h3:after{content: ' ';position: absolute;top: 0;right: 0;border-right:10px solid #eee;;border-top:13px solid transparent;border-bottom:13px solid transparent;}
.title .tit span{color: #00bb66;cursor: pointer;line-height: 46px;}

.productlist{overflow: hidden;}
.productlist li{width: 386px;float: left;background-color:#fff;margin-right: 21px;}
.productlist li.last{margin-right: 0;}
.productlist h3{color:#333;font-size:16px;line-height: 24px;height:48px;padding:0 20px;margin:15px auto;overflow: hidden;}
.productlist h3:hover,.title .more a:hover{color:#00bb66;}
.productlist .text{height:62px;line-height: 62px;font-size: 14px;color:#333;padding:0 20px;border-top: 1px solid #e9e9e9;}
.productlist .price{float: right;color:#f08300;}
.productlist .price i{font-size:28px;}
.productlist .from i{color:#848484;}

.other_serve{width:1200px;background: #fff;padding:14px 0;}
.other_serve .tit{padding-left:20px;font-size:22px;}
.other_serve ul{padding: 20px 10px 0 20px;clear: both;overflow: hidden;}
.other_serve li{width:185px;margin-right: 10px;float: left;}
.other_serve li img{display: block;width:185px;height:130px;}
.other_serve li p{line-height: 46px;font-size: 18px;color:#333;text-align: center;}

.wq-consultant{background-color:#fff;width:1200px;}
.wq-consultant h3{line-height:59px;border-bottom:1px solid #e9e9e9;font-size:22px;text-indent:20px}
.wq-consultant ul{padding:30px 20px;clear:both;width:1200px;height:250px}
.wq-consultant ul li{width:148px;height:218px;padding:30px 0 0 90px;float:left;margin-right:60px;border:1px solid #dcdcdc;border-radius:6px;position:relative;text-align:center}
.wq-consultant ul li .img{width:77px;height:70px;position:absolute;top:20px;left:20px;display:block}
.wq-consultant ul li.a .img,.wq-consultant ul li.b .img,.wq-consultant ul li.c .img,.wq-consultant ul li.d .img{background-position:0 -170px}
.wq-consultant ul li.a0{box-shadow:10px -10px 5px #e5eff8}
.wq-consultant ul li.a1{box-shadow:10px -10px 5px #e8fafe}
.wq-consultant ul li.a2{box-shadow:10px -10px 5px #edf9e5}
.wq-consultant ul li.a3{box-shadow:10px -10px 5px #e2e8f6}
.wq-consultant ul li p{font-size:18px;margin-bottom:5px}
.wq-consultant ul li p span{font-size:24px;font-weight:700}
.wq-consultant ul li p.last{color:#f08300;font-size:14px}
.wq-consultant .qqgroup{padding:0 20px 30px}
.wq-consultant .qqgroup p{font-size:14px;line-height:27px;padding-left:120px}
.wq-consultant .qqgroup p span{margin-right:20px}
.wq-consultant .qqgroup p span i{font-weight:700;padding:0 5px}
.wq-consultant .qqgroup p.first{font-size:20px;float:left;position:relative;padding-left:40px}
.wq-consultant .qqgroup p.first em{display:block;width:26px;height:27px;background:url(//quimg.com/front_web/assets/dist/image/page/about/quality/icon.png) 0 -240px no-repeat;position:absolute;top:0;left:0}