@import url(//quimg.com/css/hotel/common/hotel-search.css);

/*
 main
*/
.main {padding-top: 20px;}
.lazy {background: url(//quimg.com/img/common/loading.gif) no-repeat center #fff;}

/*
 main left
*/
.main .left {float: left;width: 290px;}
.left > div {background-color: #fff;padding: 16px 20px;margin-bottom: 10px;}
.left .country_container {margin-bottom: 20px;}
.country_container h2, .country_container h2 a {color: #0aaa96;font-size: 18px;font-weight: bold;line-height: 18px;}
.country_container h2 a {padding: 2px 5px;border-radius: 2px;}
.country_container h2:hover {color: #0aaa96;text-decoration: underline;cursor: pointer;}
.country_container .group {padding-top: 20px;}
.country_container .group .country {overflow: hidden;}

.country_container .group .flag {float: left;width: 22px;height: 16px;background: url(//quimg.com/img/common/country-icon/22x16.png) no-repeat;margin-left: 5px;margin-top: 2px;}
.country_container .group .usa_flag {background-position: 0 0;}
.country_container .group .canada_flag {background-position: -32px 0;}
.country_container .group .australia_flag {background-position: -64px 0;}
.country_container .group .new_zealand_flag {background-position: -96px 0;}
.country_container .group .italy_flag {background-position: -128px 0;}
.country_container .group .spain_flag {background-position: -160px 0;}
.country_container .group .swit_flag {background-position: -192px 0;}
.country_container .group .holland_flag {background-position: -224px 0;}
.country_container .group .greece_flag {background-position: -256px 0;}
.country_container .group .france_flag {background-position: -288px 0;}
.country_container .group .germany_flag {background-position: -320px 0;}
.country_container .group .belgium_flag {background-position: -352px 0;}
.country_container .group .austria_flag {background-position: -384px 0;}
.country_container .group .england_flag {background-position: -416px 0;}
.country_container .group .hungary_flag {background-position: -448px 0;}
.country_container .group .vatican_flag {background-position: -480px 0;}
.country_container .group .czech_flag {background-position: -512px 0;}
.country_container .group .luxembourg_flag {background-position: -544px 0;}
.country_container .group .portugal_flag {background-position: -576px 0;}
.country_container .group .slovakia_flag {background-position: -608px 0;}
.country_container .group .scotland_flag {background-position: -640px 0;}
.country_container .group .monaco_flag {background-position: -672px 0;}
.country_container .group .sweden_flag {background-position: -704px 0;}
.country_container .group .ireland_flag {background-position: -736px 0;}
.country_container .group .iceland_flag {background-position: -768px 0;}
.country_container .group .poland_flag {background-position: -800px 0;}
.country_container .group .danmark_flag {background-position: -832px 0;}
.country_container .group .finland_flag {background-position: -864px 0;}
.country_container .group .norway_flag {background-position: -896px 0;}
.country_container .group .japan_flag {background-position:0 -120px;}

.country_container .group .name {float: left;margin-left: 5px;font-size: 14px;color: #333;font-weight: bold;line-height: 16px;height: 16px;cursor: pointer;padding: 2px 5px;border-radius: 2px;}
.country_container .group .name:hover {color: #0aaa96;text-decoration: underline;}
.country_container .group .name.on, .continent.on a {background-color: #0aaa96;color: #fff;}
.country_container .group .city {overflow: hidden;padding-top: 4px;}
.country_container .group .city a {float: left;color: #848484;font-size: 12px;margin-top: 4px;margin-right: 10px;padding: 1px 4px;white-space: nowrap;}
.country_container .group .city a.on {background-color: #0aaa96;color: #fff;border-radius: 2px;}
.country_container .group .city a:hover {color: #0aaa96;text-decoration: underline;}
.country_container .group .city a.on:hover {color: #fff;text-decoration: none;}

.country_container .link_box {padding: 20px 0;}
.country_container .link_box a, .country_container .link_box a img {display: block;}

.country_container .statistics_box {font-size: 14px;color: #333;}
.country_container .count {overflow: hidden;height: 28px;padding: 12px 0 20px 0;padding-left: 30px;}
.country_container .count span {float: left;width: 25px;height: 29px;line-height: 29px;margin-right: 10px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat -80px -65px;font-size: 18px;color: #f08300;text-align: center;}
.align_right {text-align: right;}

.box_container {position: relative;padding-top: 48px;}
.box_container h3 {position: absolute;font-size: 16px;background-color: #0aaa96;height: 28px;line-height: 28px;padding: 0 10px;color: #fff;top: 0;left: -22px;}
.box_container h3 i {position: absolute;width: 0;height: 0;border-top: 2px solid #006652;border-right: 2px solid #006652;border-bottom: 2px solid transparent;border-left: 2px solid transparent;bottom: -4px;left: -1px;}
.box_container .link_more {position: absolute;color: #848484;font-size: 14px;top: 3px;right: 0;}
.box_container .link_more:hover {color: #f08300;}
.box_container .btn_group {padding: 20px 0 15px 0;}
.box_container .btn_group .btn {display: block;margin: 0 auto;}

.input_group {overflow: hidden;padding-bottom: 10px;}
.input_group .in_city {width: 236px;height: 24px;border: 1px solid #ccc;}
.input_group .in_date, .input_group .out_date {float: left;width: 106px;height: 24px;border: 1px solid #ccc;}
.input_group .out_date {margin-left: 10px;}

.hotel_list {overflow: hidden;}
.hotel_list a {float: left;width: 32%;margin-right: 1%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;font-size: 12px;color: #848484;margin-bottom: 10px;}
.hotel_list a:hover {color: #0aaa96;text-decoration: underline;}

.rcar_list {overflow: hidden;}
.rcar_list span {float: left;width: 76px;height: 22px;line-height: 22px;text-align: center;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat 0 -232px;font-size: 12px;color: #848484;margin: 0 7px 8px 0;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.rcar_list span.on, .rcar_list span:hover {background-position: 0 -200px;color: #fff;cursor: pointer;}
.rcar_add {font-size: 28px;font-weight: bold;color: #f08300;text-align: center;line-height: 12px;height: 16px;padding-bottom: 10px;}

.comment_list > div {border-top: 1px dotted #d9d9d9;padding: 12px 0;}
.comment_list .first {border-top: none;padding-top: 0;}
.comment_list h4 {color: #333;font-size: 14px;font-weight: bold;}
.comment_list .star_date {overflow: hidden;padding: 6px 0;}
.comment_list .star_date .star {position: relative;float: left;width: 70px;height: 13px;}
.star .bg {position: absolute;width: 70px;height: 13px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat 0 -66px;}
.star .front {position: absolute;width: 0;height: 13px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat 0 -89px;}
.star00 .front {width: 0;}
.star05 .front {width: 7px;}
.star10 .front {width: 14px;}
.star15 .front {width: 21px;}
.star20 .front {width: 28px;}
.star25 .front {width: 35px;}
.star30 .front {width: 42px;}
.star35 .front {width: 49px;}
.star40 .front {width: 56px;}
.star45 .front {width: 63px;}
.star50 .front {width: 70px;}
.date {font-size: 12px;color: #848484;float: right;}
.comment_list .content {font-size: 14px;color: #333;}
.comment_list .content span {color: #0aaa96;font-weight: bold;}

.note_list > div {border-top: 1px dotted #d9d9d9;padding: 12px 0;}
.note_list .first {border-top: none;padding-top: 0;}
.note_list > div {overflow: hidden;}
.note_list img {float: left;}
.note_list .info {float: left;width: 150px;padding-left: 10px;position: relative;height: 68px;}
.note_list .info h4 a {font-size: 14px;color: #333;font-weight: bold;}
.note_list .info h4 a:hover {color: #f08300;}
.note_list .info .author {position: absolute;bottom: 0;left: 10px;font-size: 14px;color: #848484;font-weight: bold;}
.note_list .info .date {position: absolute;font-size: 12px;color: #aeaeae;bottom: 0;right: 0;}

.left .faq_container  {margin-bottom: 20px;}
.faq_list li a {font-size: 14px;color: #333;line-height: 24px;}
.faq_list li a:hover {color: #f08300;}

.advise_container {background: url(//quimg.com/img/page/index/destination/adviser-avatar/demo.png) no-repeat 107px 10px;}
.advise_container .name {font-size: 30px;font-weight: bold;color: #0aaa96;}
.advise_container .job {font-size: 18px;color: #333;}
.advise_container .position {font-size: 14px;color: #848484;}
.advise_container .btn {display: block;margin-top: 25px;}

/*
 main right
*/
.main .right {float: right;width: 890px;}
.right .banner_info, .right .product_section {background-color: #fff;border-radius: 2px;width: 890px;margin-bottom: 20px;}
.right .banner_info {overflow: hidden;}
.right .banner_info img {float: left;}
.right .banner_info > div {float: left;width: 318px;padding: 0 20px;font-size: 14px;color: #333;}
.right .banner_info > div h2 {font-size: 34px;color: #0aaa96;line-height: 50px;width: 330px;overflow: hidden;height: 50px;white-space: nowrap;text-overflow: ellipsis;}
.right .banner_info > div p {padding-bottom: 5px;}
.right .banner_info > div label {font-weight: bold;}

.right .product_section {padding: 20px;width: 848px;}
.product_section .title {position: relative;border-bottom: 2px solid #333;padding-bottom: 8px;}
.product_section .title h3 {font-size: 20px;font-weight: bold;margin-left: 36px;}
.title .desc {position: absolute;left: 205px;bottom: 5px;font-size: 14px;color: #848484;}
.title .more {position: absolute;right: 0;bottom: 5px;font-size: 14px;color: #848484;}
.title .more:hover {color: #f08300;}
.title .title_icon {position: absolute;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat;}
.title .hot_icon {width: 25px;height: 32px;background-position: 0 0;top: -6px;left: 0;}
.title .localjoin_icon {width: 32px;height: 32px;background-position: -35px 0;top: -7px;left: 0;}
.title .mustactive_icon {width: 38px;height: 32px;background-position: -77px 0;top: -4px;left: 0;}
.title .visa_icon {width: 32px;height: 24px;background-position: -117px 0;top: 2px;left: 0;}

.product_section .product_box {padding: 30px 0 5px 0;}
.product_box .hot_list li {position: relative;float: left;width: 270px;height: 300px;background-color: #edeef2;margin-right: 19px;margin-bottom: 15px;}
.product_box .hot_list .last {margin-right: 0;}
.hot_list li a > i {position: absolute;z-index: 10;font-size: 24px;color: #fff;text-align: center;width: 45px;height: 30px;line-height: 30px;background-color: #fc940d;left: -10px;top: -4px;font-style: italic;font-weight: bold;}
.hot_list li a > i em {position: absolute;left: 0;bottom: -10px;width: 0;height: 0;border-top: 5px solid #99402e;border-right: 5px solid #99402e;border-bottom: 5px solid transparent;border-left: 5px solid transparent;}

.product_box .localjoin_list li, .product_box .mustactive_list li {position: relative;float: left;width: 268px;height: 300px;background-color: #f5f6fa;margin-right: 19px;margin-bottom: 30px;border-right: 1px solid #e5e5e5;border-left: 1px solid #e5e5e5;box-shadow: 1px 1px 1px #e5e5e5;}
.product_box .localjoin_list .last, .product_box .mustactive_list .last {margin-right: 0;}
.product_box .mustactive_list li:hover h4 {color: #f08300;}
.product_box .localjoin_list a, .product_box .mustactive_list a {display: block;position: relative;overflow: hidden;}
.product_box .mask_wrapper {position: absolute;width: 100%;height: 304px;top: 314px;left: 0;z-index: 10;opacity: 0.9;filter: alpha(opacity=90);-webkit-transition: all 0.4s ease-out;-moz-transition: all 0.4s ease-out;-o-transition: all 0.4s ease-out;-ms-transition: all 0.4s ease-out;transition: all 0.4s ease-out;}
.ie8 .product_box .mask_wrapper, .ie7 .product_box .mask_wrapper {top: 314px;}
.product_box .mask_wrapper .bg {position: absolute;width: 100%;height: 100%;background-color: #000;top: 0;left: 0;}
.product_box .mask_wrapper .info {position: relative;z-index: 1;}
.product_box .mask_wrapper .info h4 {font-size: 18px;color: #0aaa96;font-weight: bold;text-align: center;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;height: 58px;line-height: 58px;border-bottom: 1px solid #666a6d;}
.product_box .mask_wrapper .info p {padding: 14px;font-size: 14px;color: #fff;line-height: 20px;}
.product_box a:hover .mask_wrapper {-webkit-transform: translateY(-314px);-moz-transform: translateY(-314px);-o-transform: translateY(-314px);-ms-transform: translateY(-314px);transform: translateY(-314px);}
.product_box .localjoin_list a:hover .info_box {opacity: 0.3;filter: alpha(opacity=30);}
.ie8 .product_box a:hover .mask_wrapper, .ie7 .product_box a:hover .mask_wrapper {top: 0;}
.localjoin_list .img_box, .mustactive_list .img_box {width: 250px;height: 187px;padding-top: 12px;}
.localjoin_list .info_box h4 {font-size: 18px;color: #0aaa96;font-weight: bold;text-align: center;width: 100%;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.localjoin_list .info_box p {padding-top: 5px;height: 40px;overflow: hidden;line-height: 20px;}
.localjoin_list .bottom_bg, .mustactive_list .bottom_bg {display: block;width: 270px;height: 16px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat 0 -111px;}
.mustactive_list .info_box h4 {font-size: 16px;color: #333;}
.mustactive_list .info_box .price {color: #f08300;font-size: 12px;position: absolute;bottom: 10px;right: 10px;}
.mustactive_list .info_box .price span {font-size: 18px;}

.img_box {position: relative;margin: 0 auto;}
.img_box img {display: block;}
.img_box .mask {position: absolute;width: 100%;height: 70px;bottom: 0;left: 0;background: url(//quimg.com/img/page/index/destination/product-mask.png) repeat-x;}
.img_box .tips {position: absolute;padding-left: 20px;font-size: 14px;color: #fff;bottom: 10px;right: 10px;}
.img_box .tips i {left: 0;top: 2px;position: absolute;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat 0 -42px;width: 14px;height: 14px;}
.img_box .relative_num i {background-position: -24px -42px;width: 14px;height: 14px;}
.img_box .star {position: absolute;width: 70px;height: 13px;left: 8px;bottom: 10px;}

.info_box {font-size: 14px;color: #333;padding: 10px;height: 78px;}
.info_box h4 {height: 40px;overflow: hidden;line-height: 40px;text-overflow: ellipsis;white-space: nowrap;}
.info_box .tag {display: inline-block;position: relative;color: #fff;height: 18px;line-height: 18px;padding: 0 8px;margin-right: 4px;}
.ie7 .info_box .tag {display: inline;zoom: 1;}
.info_box .tag .l, .info_box .tag .r {position: absolute;top: 0;width: 8px;height: 18px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat;}
.info_box .tag .l {left: 0;}
.info_box .tag .r {right: 0;}
.info_box .tag span {display: block;}
.tag_localjoin span {background-color: #eb7583;}
.tag_localjoin .l {background-position: 0 -154px!important;}
.tag_localjoin .r {background-position: -32px -154px!important;}
.tag_mustactive span {background-color: #9bbf4c;}
.tag_mustactive .l {background-position: 0 -136px!important;}
.tag_mustactive .r {background-position: -32px -136px!important;}
.tag_ticket span {background-color: #d9a86c;}
.tag_ticket .l {background-position: 0 -172px!important;}
.tag_ticket .r {background-position: -32px -172px!important;}
.tag_rentcar span {background-color: #4cbf8a;}
.tag_rentcar .l {background-position: -40px -136px!important;}
.tag_rentcar .r {background-position: -72px -136px!important;}
.tag_hotel span {background-color: #c788d1;}
.tag_hotel .l {background-position: -40px -154px!important;}
.tag_hotel .r {background-position: -72px -154px!important;}
.tag_campers span {background-color: #8d8dd9;}
.tag_campers .l {background-position: -40px -172px!important;}
.tag_campers .r {background-position: -72px -172px!important;}
.tag_pickup span {background-color: #5ca9db;}
.tag_pickup .l {background-position: -80px -136px!important;}
.tag_pickup .r {background-position: -112px -136px!important;}
.info_box .price {position: absolute;bottom: 10px;right: 10px;color: #f08300;font-size: 14px;}
.info_box .price span {font-size: 28px;}

.visa_box {padding: 30px 0 5px 0;}
.visa_box .visa_list {overflow: hidden;}
.visa_list li {position: relative;float: left;width: 200px;height: 160px;background-color: #e4f1f2;margin: 0 16px 20px 0;}
.visa_list .last {margin-right: 0;}
.visa_list li a {display: block;padding: 20px 0px 10px 15px;}
.visa_list .flag {height: 100px;}
.visa_list .flag em {position: absolute;z-index: 1;top: 20px;left: 5px;width: 78px;height: 8px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat -142px -66px;}
.visa_list .flag i {position: absolute;z-index: 3;top: 22px;left: 16px;width: 56px;height: 78px;background: url(//quimg.com/img/page/index/destination/visa-flag-list.png) no-repeat;}
.visa_list .franch_flag i {background-position: 0 0;}
.visa_list .italy_flag i {background-position: -66px 0;}
.visa_list .germany_flag i {background-position: -132px 0;}
.visa_list .england_flag i {background-position: -198px 0;}
.visa_list .holland_flag i {background-position: -264px 0;}
.visa_list .belgium_flag i {background-position: -330px 0;}
.visa_list .spain_flag i {background-position: -396px 0;}
.visa_list .greece_flag i {background-position: -462px 0;}
.visa_list .usa_flag i {background-position: -528px 0;}
.visa_list .canada_flag i {background-position: -594px 0;}
.visa_list .new_zealand_flag i {background-position: -660px 0;}
.visa_list .australia_flag i {background-position: -726px 0;}
.visa_list .japan_flag i {background-position: -792px 0;}
.visa_list .flag > div {padding-left: 75px;}
.visa_list .flag > div h4 {font-size: 16px;color: #333;font-weight: bold;padding-top: 5px;}
.visa_list .flag > div p {font-size: 16px;color: #848484;padding-bottom: 5px;}
.visa_list .flag > div span {font-size: 12px;color: #848484;}
.visa_list .price {width: 170px;border-top: 1px solid #fff;}
.visa_list .price .tips {position: absolute;bottom: 10px;left: 15px;color: #80a8cc;font-size: 16px;font-weight: bold;padding-left: 20px;}
.visa_list .price .tips i {position: absolute;left: 0;top: 5px;width: 13px;height: 13px;background: url(//quimg.com/img/page/index/destination/all.png) no-repeat -118px -66px;}
.visa_list .price .num {position: absolute;bottom: 10px;right: 15px;font-size: 12px;color: #f08300;}
.visa_list .price .num span {font-size: 18px;}

.left .wq-consultant{background-color:#fff;margin:20px 0 0 -20px;width:290px;}
.wq-consultant h3{height:48px;line-height:48px;text-align:center;color:#fff;font-size:18px;background-color:#0b6}
.wq-consultant img{float:right;margin:8px 8px 0 0}
.wq-consultant p{line-height:70px;font-size:16px;font-weight:700;padding:10px 0 5px 15px}
.wq-consultant p span{display:block;width:77px;height:70px;float:left;margin-right:10px;}
.wq-consultant p span img{margin:0;}
.wq-consultant h4{color:#f08300;margin-bottom:15px;text-indent:15px;font-size:14px}
.wq-consultant h5{clear:both;line-height:48px;text-align:center;border-top:1px dashed #dcdcdc;width:250px;margin:0 auto}
.wq-consultant > div{height:20px;background-color:#f0f0f0;}